* {
    margin: 0;
}

nav {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff7f00;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 56px;
}

.logo:hover {
    cursor: pointer;
}

.burger-menu {
    height: 32px;
}

.burger-menu:hover {
    cursor: pointer;
}

.main-content {
    height: calc(100vh - 88px);
    background-color: antiquewhite;
}