* {
    margin: 0;
}

nav {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff7f00;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 56px;
}

.logo:hover {
    cursor: pointer;
}

.burger-menu {
    height: 32px;
}

.burger-menu:hover {
    cursor: pointer;
}

.main-content {
    height: calc(100vh - 80px);

    display: flex;
}

.food-content {
    width: 80%;
    height: 100%;
}

.header {

}

.header-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}